.contact-title {
    font-size: 4rem;
    font-family:' montserrat';
    color: #2B2B2B;
    padding: 2% 0 0 5%;
}

.contact-subtitle {
    font-size: 2rem;
    font-family:' montserrat';
    color: #2B2B2B;
    padding: 0 5% 2% 5%;
}

.contact-form {
  margin-bottom: 2%;
  margin-top: 40px;
}
