.parallax-container {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
    height: 100%;
}

.parallax-title {
    margin-top: 23%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:' montserrat';
    color: #2B2B2B;
    font-size: 4rem;
}

.projects-title {
  font-family:' montserrat';
   color: #2B2B2B;
   font-size: 4rem;
   margin-bottom: 40px;

}

.description{
  font-size: 3rem;
}

.projects-list {
    margin-top: 40px;
    margin-bottom: 0;
}

.contact-button {
  margin-top: 8%;
}

.contact-button2 {
  margin-bottom: 5%;
}
